{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="icon" type="image/x-icon" href="{% static 'COMPRA_VENTA/img/Easybuy-icon.png' %}">
    <link rel="stylesheet" href="{% static 'COMPRA_VENTA/styles_signup.css'%}">
</head>
<body>
    <div class="container">
        <div class="title">Sign Up Admin</div>
        {{error}} <!--preguntar si puedo mover este error-->
        <form action="/signup/" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button>
                Signup
            </button>
            

        </form>
    </div>
    

    
</body>
</html>

